---
import { API_ADMIN_TOKEN, API_BASE_URL } from "astro:env/server";
import { Grid } from "../components/Grid";

let users = null;

if (API_BASE_URL && API_ADMIN_TOKEN) {
  users = await fetch(`${API_BASE_URL}/api/admin/users`, {
    headers: {
      Authorization: `Bearer ${API_ADMIN_TOKEN}`,
    },
  })
    .then((res) => res.json())
    .then((data) => {
      if (data.success) {
        return data.result.members;
      } else {
        throw new Error("Member fetch failed!");
      }
    });
}
---

<style>
  html,
  body {
    height: 100%;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{users ? "Project Borealis Admin" : "Access Denied."}</title>
  </head>
  <body>
    <div class="w-full h-full px-4 py-2">
      {
        users && (
          <>
            <div class="prose dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 mb-2">
              <h1 class="mb-1">Project Borealis Admin</h1>
              <p class="mt-0">
                Welcome to the Project Borealis admin management panel.
              </p>
            </div>
            <Grid client:load initialRows={users} />
          </>
        )
      }
      {!users && <h1>Access Denied.</h1>}
    </div>
  </body>
</html>
